@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="alert alert-danger">Ürün Sayısı = @ViewBag.ProductCount </div>
<div class="alert alert-warning">Referans Sayısı = @ViewBag.TestimonialCount </div>
<div class="alert alert-success">Etkinlik Sayısı = @ViewBag.EventCount </div>
<div class="alert alert-dark">Sunulan Hizmet Sayısı = @ViewBag.ServiceCount </div>
<div class="alert alert-primary">Toplam Kategori Sayısı = @ViewBag.CategoryCount </div>

<div class="alert alert-info">Şef Sayısı = @ViewBag.ChefCount </div>
<div class="alert alert-primary">Toplam Mesaj Sayısı = @ViewBag.ContactCount </div>
<div class="alert alert-secondary">Galerideki Fotoğraf Sayısı = @ViewBag.GalleryCount </div>
<div class="alert alert-success">Rezervasyon Sayısı = @ViewBag.ReservationCount </div>
<div class="alert alert-warning">Spesyal Sayısı = @ViewBag.SpecialCount </div>

<div class="alert alert-info">En Çok Ürün İçeren Kategori = @ViewBag.CategoryName </div>
<div class="alert alert-secondary">En Pahalı Ürün = @ViewBag.MostExpensiveProductName </div>

<div class="alert alert-danger">Ana Yemek Sayısı = @ViewBag.AnaYemekCount </div>
<div class="alert alert-warning">Başlangıç Sayısı = @ViewBag.BaslangicCount </div>
<div class="alert alert-success">Salata Sayısı = @ViewBag.SalataCount </div>
<div class="alert alert-primary">Çorba Sayısı = @ViewBag.CorbaCount </div>